body{
    text-align: center;
    background-color: darkolivegreen;
}
    

#cabecalho-principal {

}
.container-receita{

}

#titulo-receita{

}

.descricao{

}


.imagem-receita{

}

#ingredientes{

}

.lista-ingredientes{

}

.destaque{

}

#modo-de-preparo{

}

.container-passos{
    font-style: italic;

}

.passo{
    

}

#rodape-pagina{

}